#  DATABASE
DB_URL=jdbc:mysql://localhost:3306/upply_db
DB_USERNAME=root
DB_PASSWORD=secret

#  MAIL
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-gmail-app-password

#  JWT
JWT_SECRET_KEY=your-256-bit-secret-key-here
JWT_EXPIRATION=86400000

#  REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=

#  KAFKA
KAFKA_URL=localhost:9092
KAFKA_SECURITY_PROTOCOL=PLAINTEXT
KAFKA_TRUSTSTORE_PATH=/certs/kafka.truststore.jks
KAFKA_KEYSTORE_PATH=/certs/kafka.keystore.p12
KAFKA_SSL_PASSWORD=changeit

#  GOOGLE GEMINI AI
GEMINI_API_KEY=your-gemini-api-key-here

#  AZURE STORAGE
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;
AZURE_STORAGE_CONTAINER_NAME=upply-files

#  AZURE APPLICATION INSIGHTS / OBSERVE
OBSERVE=InstrumentationKey=your-key;IngestionEndpoint=https://...

#  FIREBASE
FIREBASE_PRIVATE_KEY={"type":"service_account","project_id":"..."}

#  EXPORT / SCHEDULER
TASK_EXPIRE_SECONDS=3600
SCULDER_CLEANUP_TIME=60000
