spring:
  application:
    name: Upply
  config:
    import: optional:file:.env[.properties]

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 10
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  main:
    allow-bean-definition-overriding: true
  threads:
    virtual:
      enabled: true
  ai:
    model:
      embedding: transformers
    embedding:
      transformer:
        cache:
          enabled: true
          directory: /tmp/spring-ai-onnx-model
        tokenizer:
          uri: https://huggingface.co/sentence-transformers/all-MiniLM-L6-v2/resolve/main/tokenizer.json
        onnx:
          model-uri: https://huggingface.co/sentence-transformers/all-MiniLM-L6-v2/resolve/main/onnx/model.onnx

    vectorstore:
      redis:
        initialize-schema: true
        index-name: upply-vector-index
        prefix: "upply:embedding:"
        dimension: 384

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      username: ${REDIS_USERNAME}
      password: ${REDIS_PASSWORD}
      # For production, consider adding connection pooling
  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
  cloud:
    azure:
      monitor:
        instrumentation:
          connection-string: ${OBSERVE}
server:
  port: 8080
  servlet:
    context-path: /api/v1

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.ai: DEBUG
    com.upply.job.JobMatchingService: DEBUG

jwt:
  secret-key: ${JWT_SECRET_KEY}
  expiration: ${JWT_EXPIRATION}

app:
  activation-base-url: "http://localhost:8080/api/v1/auth/activate"

azure:
  storage:
    connection-String: ${AZURE_STORAGE_CONNECTION_STRING}
    container-name: ${AZURE_STORAGE_CONTAINER_NAME}

applicationinsights:
  connection:
    string: ${OBSERVE}
